<div class="pop-over is-shown" style="left: 675px; top: 129px;">
  <div class="pop-over-header js-pop-over-header">
    <a href="#" class="pop-over-header-back-btn icon-sm icon-back" hidden></a>
    <span id="popoverTitle" class="pop-over-header-title">{{title}}</span>
    <a href="#" class="pop-over-header-close-btn icon-sm icon-close"></a>
  </div>
  <div class="pop-over-content js-pop-over-content u-fancy-scrollbar js-tab-parent" style="max-height: 488px;">
    <div id="labelsMain">
      <input class="js-autofocus js-label-search" type="text" placeholder="Search labels…" value="" autocomplete="off">
      <ul id="labelsList" class="edit-labels-pop-over js-labels-list">
      {{#each labels}}
      <li>
        <a class="card-label-edit-button icon-sm icon-edit js-edit-label" href="#" ></a>
        <span data-label-id={{id}} class="card-label mod-selectable card-label-{{color}} js-select-label" data-color="{{color}}">{{name}}
          <span class="icon-sm icon-check card-label-selectable-icon light"></span>
        </span>
      </li>
      {{/each}}
      </ul>
      <div>
        <a class="quiet-button full js-add-label" href="#">Create a new label</a>
      </div>
    </div>
    <!-- Edit Labels -->
    <div id="labelsAddEdit" hidden>
      <form data-label-id class="edit-label">
        <label for="labelName">Name</label>
        <input id="labelName" class="js-autofocus js-label-name" type="text" name="name" value="">
        <label>Select a color</label>
        <span class="card-label mod-edit-label mod-clickable card-label-green palette-color js-palette-color" data-color="green">
          <span class="card-label-color-select-icon icon-sm icon-check light hide js-palette-select"></span>
        </span>
        <span class="card-label mod-edit-label mod-clickable card-label-yellow palette-color js-palette-color" data-color="yellow">
          <span class="card-label-color-select-icon icon-sm icon-check light hide js-palette-select"></span>
        </span>
        <span class="card-label mod-edit-label mod-clickable card-label-orange palette-color js-palette-color" data-color="orange">
          <span class="card-label-color-select-icon icon-sm icon-check light hide js-palette-select"></span>
        </span>
        <span class="card-label mod-edit-label mod-clickable card-label-red palette-color js-palette-color" data-color="red">
          <span class="card-label-color-select-icon icon-sm icon-check light hide js-palette-select"></span>
        </span>
        <span class="card-label mod-edit-label mod-clickable card-label-purple palette-color js-palette-color" data-color="purple">
          <span class="card-label-color-select-icon icon-sm icon-check light hide js-palette-select"></span>
        </span>
        <span class="card-label mod-edit-label mod-clickable card-label-blue palette-color js-palette-color" data-color="blue">
          <span class="card-label-color-select-icon icon-sm icon-check light hide js-palette-select"></span>
        </span>
        <span class="card-label mod-edit-label mod-clickable card-label-black palette-color js-palette-color" data-color="black">
          <span class="card-label-color-select-icon icon-sm icon-check light hide js-palette-select"></span>
        </span>
        <span class="card-label mod-edit-label mod-clickable card-label-sky palette-color js-palette-color" data-color="sky">
          <span class="card-label-color-select-icon icon-sm icon-check light hide js-palette-select"></span>
        </span>
        <span class="card-label mod-edit-label mod-clickable card-label-lime palette-color js-palette-color" data-color="lime">
          <span class="card-label-color-select-icon icon-sm icon-check light hide js-palette-select"></span>
        </span>
        <span class="card-label mod-edit-label mod-clickable card-label-pink palette-color js-palette-color" data-color="pink">
          <span class="card-label-color-select-icon icon-sm icon-check light hide js-palette-select"></span>
        </span>
        <span class="card-label mod-edit-label mod-clickable card-label-null palette-color js-palette-color" data-color="">
          <span class="card-label-color-select-icon icon-sm icon-check light hide js-palette-select"></span>
        </span>
        <p class="u-bottom">No color.</p>
        <p class="u-bottom quiet">This won't show up on the front of cards.</p>
        <div class="u-clearfix">
          <input class="primary wide js-submit" type="submit" value="Create">
          <div class="u-float-right js-accessory-view-holder" hidden>
            <input type="submit" value="Delete" class="negate">
          </div>
        </div>
      </form>
    </div>
    <div id="destroyLabelConfirm" hidden>
      <p>There is no undo. This will remove this label from all cards and destroy its history.</p>
      <input class="js-confirm full negate" type="submit" value="Delete">
    </div>
  </div>
</div>